.containerBtn{
  display: grid;                /* activate grid */
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: minmax(10px, auto);
  gap: 10px; 
}

button{
  padding: 10px;
}