<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
</head>
<body>
    <h1>Create a New Product</h1>
    <form action="/products" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="name"><br>
        <label for="price">Price</label>
        <input type="number" min='0' name="price" placeholder="price"><br>
        <label for="category">Select Category</label>
        <select name="category" id="category">
            <% for (let category of categories) {%>
                <option value=<%= category %>><%= category %></option>
            <%  }%>
        </select> <br>
        <button>Submit</button>
    </form>
</body>
</html>